<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <!-- Aquí va el resto de los tags <meta>, <link>, etc. -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <!-- Aquí va el contenido específico de cada vista -->
    {{{body}}}
  </body>
</html>